<section class="scroll-mt-24" id="faq">
	<div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
		<div class="">
			<h2
				class="text-3xl tracking-tighter font-light lg:text-4xl text-black"
			>
				The answers to the most <span class="block"
					>popular frequent questions
				</span>
			</h2>
			<p class="mt-5 text-black">
				Can't find your answer? Send and <a
					class="text-blue-400 hover:text-black duration-200"
					href="mailto:contact@pmrao.in">email</a
				> and we will get back to you .
			</p>
		</div>
		<div x-data="{selected:null}">
			<ul
				class="list-none text-black bg-white rounded-3xl divide-y mt-8"
				role="list"
				@click="open = !open"
			>
				<li class="relative">
					<button
						class="w-full p-4 text-left"
						@click="selected !== 1 ? selected = 1 : selected = null"
						type="button"
					>
						<div
							class="items-center flex justify-between text-black"
						>
							<p class="text-lg tracking-tight text-black">
								Who runs the PM Rao & Associates?
							</p>
							<svg
								class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								:class="{'rotate-180': open, 'rotate-0': !open}"
								><path
									d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
									clip-rule="evenodd"
									fill-rule="evenodd"></path></svg
							>
						</div></button
					><div
						class="relative overflow-hidden duration-700 max-h-0 transition-all"
						style=""
						x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
						x-ref="container1"
					>
						<div class="text-sm text-zinc-500 p-8 pt-0">
							PM Rao himself, his associates are at his disposal
							to handle wide range of financials and business
							advisory. You can reach him <a
								class="text-blue-500 hover:text-black"
								href="mainto:contact@pmrao.in">here</a
							>
						</div>
					</div>
				</li><li class="relative">
					<button
						class="w-full p-4 text-left"
						@click="selected !== 2 ? selected = 2 : selected = null"
						type="button"
						><div
							class="items-center flex justify-between text-black"
						>
							<p class="text-lg tracking-tight text-black">
								Who runs the MAS Consultants?
							</p><svg
								class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								:class="{'rotate-180': open, 'rotate-0': !open}"
								><path
									d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
									clip-rule="evenodd"
									fill-rule="evenodd"></path></svg
							>
						</div></button
					><div
						class="relative overflow-hidden duration-700 max-h-0 transition-all"
						style=""
						x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
						x-ref="container2"
					>
						<div class="text-sm text-zinc-500 p-8 pt-0">
							Arun Pesala is head of Consulting Services which is
							new offering from PM Rao & Associates. You can reach
							him <a
								class="text-blue-500 hover:text-black"
								href="mainto:arun@pmrao.in">here</a
							>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
