<section class="overflow-hidden relative">
	<img src="paper.jpg" class="h-64 w-screen object-cover" />
	<div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
		<div>
			<span
				class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
			>
				<p>MAS Consultants</p>
				<div
					class="h-2 w-2 rounded-full bg-black border-2 border-black"
				>
				</div>

				<div class="h-2 w-2 rounded-full border-black border-2"></div>
			</span>
			<h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
				Chartered Accountants <span class="block"
					>for Audit and Assurance, Taxation and Business Advisory
					services</span
				>
			</h2>
		</div>
		<ul
			class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
		>
			<div>
				<p>
					PM Rao & Associates currently has over 100 man years of
					experience to tackle your financial needs and systems
				</p>
			</div>
			<div>
				<p>
					MAS Consultants is newest offering of PM Rao & Associates to
					deliver digital products & services
				</p>
			</div>
			<em class="col-span-full text-sm mt-8">
				<p>
					We are located in Hyderabad and Ongole but also enmbrace
					<span class="block text-black">⏤ Remote work</span>
				</p>
			</em>
		</ul>
	</div>
</section>
