<section id="clients" class="scroll-mt-24">
	<div class="px-8 md:px-12 max-w-2xl mx-auto">
		<div
			class="grid grid-cols-2 gap-px rounded-3xl overflow-hidden sm:mx-0"
		>
			<div class="p-6 sm:p-10 items-center flex bg-white">
				<img
					class="max-h-8 w-full object-contain"
					src="/gmr.svg"
					alt="Transistor"
					width="158"
					height="48"
				/>
			</div>
			<div class="p-6 sm:p-10 items-center flex bg-white">
				<img
					class="max-h-16 w-full object-contain"
					src="kpmg.svg"
					alt="Reform"
					width="258"
					height="48"
				/>
			</div>

			<div class="p-6 sm:p-10 items-center flex bg-white">
				<img
					class="max-h-16 w-full object-contain"
					src="/pwc.svg"
					alt="Laravel"
					width="158"
					height="48"
				/>
			</div>
			<div class="p-6 sm:p-10 items-center flex bg-white">
				<img
					class="max-h-8 w-full object-contain"
					src="/accenture.svg"
					alt="Laravel"
					width="158"
					height="48"
				/>
			</div>
		</div>
	</div>
</section>
