<footer class="overflow-hidden">
	<div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
		<div class="flex flex-col gap-4">
			<div>
				<h3 class="text-[#4A516D] text-base lg:text-xl">Navigation</h3>
				<ul
					role="list"
					class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
				>
					<li>
						<a href="#clients" class="hover:text-black">Clients</a>
					</li>
					<li>
						<a href="#how" class="hover:text-black"> Why us?</a>
					</li>
					<li>
						<a href="#mas" class="hover:text-black">
							MAS Consultants</a
						>
					</li>
					<!-- <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li> -->
				</ul>
			</div>
			<!-- <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://www.lexingtonthemes.com"
              class="hover:text-black"
            >
              Lexington Themes.
            </a>
          </li>
        </ul>
      </div> -->
			<div>
				<h3 class="text-[#4A516D] text-base lg:text-xl">Address</h3>
				<ul
					role="list"
					class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
				>
					<li>
						<a href="#_" class="hover:text-black"> Telangana </a>
						<p>
							<br />
							D,No 8-2-1/4<br />
							2nd Floor<br />
							Pratap Nagar<br />
							Srinagar colony Road<br />
							Hyderabad - 500082<br />
						</p>
					</li>
					<li>
						<a href="#_" class="hover:text-black">
							Andhra Pradesh
						</a>
						<p>
							<br />
							Plot No. 469 & 482<br />
							Applic Growth Center<br />
							Gundlapally<br />
							Ongole - 523001<br />
						</p>
					</li>
				</ul>
			</div>
			<!-- <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://twitter.com/Mike_Andreuzza"
              class="hover:text-black"
            >
              @Mike_Andreuzza
            </a>
          </li>
        </ul>
      </div> -->
		</div>
	</div>
	<div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
		<nav class="flex flex-col lg:flex-row gap-8">
			<p class="text-sm text-black">© 2024 P M Rao & Associates</p>
		</nav>
		<section class="gap-x-8 gap-y-6 mt-6">
			<div>
				<p class="text-sm text-zinc-500 lg:col-span-2">
					Chartered Accountants for Audit and Assurance, Taxation and
					Business Advisory services built by
					<a class="text-sm text-black hover:text-blue-300">P M Rao</a
					>, and is actively run by his associates to tackle business
					needs.
				</p>
			</div>
		</section>
	</div>
	<img src="money.jpg" class="h-96 w-screen object-cover object-top" />
</footer>
